<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de criação de conta</title>
</head>
<body>
    <h3>
        Criar conta
    </h3>
    <div class="container">
        <form action="" method="post">

            <label for="nome">nome completo:</label>
            <input type="text" name="nome" id="" required>

            <label for="email">email:</label>
            <input type="email" name="email" id="" required>

            <label for="datanascimento">data de nascimento:</label>
            <input type="date" name="datanascimento" id="">

            <label for="senha">senha:</label>
            <input type="password" name="senha" id="">

            <input type="submit" value="Salvar">
        </form>
    </div>
</body>
</html>